<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<localRepository>D:\maven\repository</localRepository>

	<servers>
		<server>
			<id>glasssix-releases</id>
			<username>600054f0a509123753acfcb2</username>
			<password>cRjn1oczst7Y</password>
		</server>
		<server>
			<id>glasssix-snapshots</id>
			<username>600054f0a509123753acfcb2</username>
			<password>cRjn1oczst7Y</password>
		</server>
		<server>
			<id>g6</id>
			<username>admin</username>
			<password>Harbor12345</password>
			<configuration>
				<email>jiahaoyang@glasssix.com</email>
			</configuration>
		</server>
	</servers>

	<pluginGroups>
		<pluginGroup>com.glasssix.plugin</pluginGroup>
	</pluginGroups>

	<profiles>
		<profile>
			<id>glasssix</id>
			<properties>
				<username>Jiahao Yang</username>
				<email>jiahaoyang@glasssix.com</email>
				<project.scm.id/>
				<scm.git.url>https://github.com/yangjiahao265</scm.git.url>
				<docker.image.maintainer>${email}</docker.image.maintainer>
				<docker.registry.cloud.host>10.168.1.47:30002</docker.registry.cloud.host>
				<docker.registry.cloud.serverId>g6</docker.registry.cloud.serverId>
				<docker.registry.cloud.group>g6-java</docker.registry.cloud.group>
				<releases.repository.url>https://packages.aliyun.com/maven/repository/2067139-release-AfNytJ/
				</releases.repository.url>
				<snapshots.repository.url>https://packages.aliyun.com/maven/repository/2067139-snapshot-cmpXik/
				</snapshots.repository.url>
				<altReleaseDeploymentRepository>
					glasssix-releases::${releases.repository.url}
				</altReleaseDeploymentRepository>
				<altSnapshotDeploymentRepository>
					glasssix-snapshots::${snapshots.repository.url}
				</altSnapshotDeploymentRepository>
				<!--
				<http.proxy>http://192.168.8.120:7890</http.proxy>
				<https.proxy>${http.proxy}</https.proxy>
				-->
				<env.DEV_SERVER>10.168.1.16</env.DEV_SERVER>
				<env.MYSQL_SERVER>${env.DEV_SERVER}:3306</env.MYSQL_SERVER>
				<!--				<env.MYSQL_USERNAME>super_user</env.MYSQL_USERNAME>-->
				<!--				<env.MYSQL_PASSWORD>RadonDB@123</env.MYSQL_PASSWORD>-->

				<env.REDIS_HOST>10.168.1.47</env.REDIS_HOST>
				<env.REDIS_PORT>30424</env.REDIS_PORT>
				<env.REDIS_PASSWORD>qet5$*iu123</env.REDIS_PASSWORD>
				<env.REDIS_DATABASE>15</env.REDIS_DATABASE>
			</properties>
			<repositories>
				<repository>
					<id>glasssix-releases</id>
					<url>https://packages.aliyun.com/maven/repository/2067139-release-AfNytJ/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>glasssix-snapshots</id>
					<url>https://packages.aliyun.com/maven/repository/2067139-snapshot-cmpXik/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>central</id>
					<url>https://repo1.maven.org/maven2/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>daily</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>spring-releases</id>
					<name>Spring Releases</name>
					<url>https://repo.spring.io/release</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>daily</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>jitpack.io</id>
					<url>https://jitpack.io</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>daily</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>glasssix-releases</id>
					<url>https://packages.aliyun.com/maven/repository/2067139-release-AfNytJ/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>glasssix-snapshots</id>
					<url>https://packages.aliyun.com/maven/repository/2067139-snapshot-cmpXik/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>central</id>
					<url>https://repo1.maven.org/maven2/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>spring-releases</id>
					<name>Spring Releases</name>
					<url>https://repo.spring.io/release</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>jitpack.io</id>
					<url>https://jitpack.io</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>glasssix</activeProfile>
	</activeProfiles>

</settings>
